@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    overflow: hidden;
}

header {
    z-index: 10000;
    display: flex;
    top: 0;
    position: fixed;

    width: 100%;
    height: 8vh;
    min-height: 8vh;

    background-color: #fff;

    justify-content: space-between;
    align-items: center;
}

header img.logo {
    height: 12vh;
    min-height: 8vh;
    flex-shrink: 0;
}

header img.logo:hover {
    cursor: pointer;
}

nav i.bmenu {
    font-size: 60px;
    display: block;
    margin: auto 0 auto 20px;
}

nav i.bmenu:hover {
    cursor: pointer;
}

header p.LoginSignUp {
    margin: auto 35px auto 0;

    color: white;
    font-weight: 600;
    background-color: rgb(39, 39, 39);
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
}

header p.LoginSignUp:hover {
    color: rgb(218, 218, 218);
    background-color: rgb(0, 151, 189);
    transition: all .09s ease;
    cursor: pointer; 
}

div.main-container {
    display: flex;
    flex-direction: column;
    z-index: 14;
    margin-top: 8vh;
    width: 100%;
    height: 800px;

    background-image: url(./Media/background-image.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

div.main-container img{
    width: 40%;
    height: 90%;

    margin: -30px auto -100px auto;
}

div.main {
    z-index: 15;
    display: flex;
    width: 100%;
    height: 100%;
    
    max-height: 150%;
    justify-content: space-between;
}

.button {
    background-color: white;
    width: 100px;
    text-align: center;

    min-width: 55px;
    max-width: 100px;
    min-height: 5px;
    max-height: 20px;
    
    align-self: center; 

    font-weight: 600;
    font-size: 20px;

    padding: 10px 50px 15px 50px;
    border-radius: 20px;
    margin-bottom: 100px;
}

.spacerMain {
    width: 30%;
}

.button2{
    margin-left: 100px;
    margin-right: 100px;
}

.button:hover {
    cursor: pointer;
    padding: 20px 55px 25px 55px;
    transition: padding .18s ease;
}

div.main img {
    width: 100%;
    height: 100%;
}

div.rules {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rule-container {
    background-color: #fff;
    margin: 20px;
    padding: 25px;
    box-shadow: 3px 7px 50px #000;
}

.rule-list {
    margin-left: 15px;
}

.rule-list ul {
    margin-left: 20px;
}

.rule-list li {
    margin-bottom: 3px;
}

.rule-container .title, 
.rule-container .sub-title {
    text-decoration: underline;
    text-align: center;
}

.rule-container .sub-title {
    color: rgb(99, 0, 0);
}

.rule-container p {
    font-style: italic;
    margin-bottom: 5px;
}

/* RESPONSIVE RULE SETTINGS */

.rules .world-rules {
    opacity: 1;
    transform: translateX(70%);
    margin-right: 0;
    margin-left: 0;
}
.rules.active .world-rules {
   opacity: 0;
   transform: translateX(-70%);
   transition: all .2s ease;
}
.rules .discord-rules {
    opacity: 0;
    transform: translateX(35%);
    
   transition: all .2s ease;
}
.rules.active .discord-rules {
   opacity: 1;
   transform: translateX(-35%);
}

.rules-control {
    display: flex;
    justify-content: center;
}

.button-rule {
    padding: 10px;
    border-radius: 30px;
    margin: 20px 5px 10px 5px;
    background-color:rgb(0, 181, 226);
    font-size: 20px;
    font-weight: 600;
}

.button-rule:hover {
    cursor: pointer;
    background-color: rgb(0, 102, 128);

    transition: all .18s ease;
}
.button-rule.active {
    border: 3px solid red;

    transition: all .18s ease;
}

/* RESPONSIVE RULE SETTINGS */
